/* ------- Base Styles ------ */
p {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 24px;
  font-family: Palatino, serif;
  color: #a50512;
}

h2 {
  font-size: 18px;
  font-family: Palatino, serif;
}

h3 {
  font-family: Palatino, serif;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-family: Palatino, serif;
  font-size: 16px;
  font-weight: bold;
}

h5 {
  font-family: Palatino, serif;
  font-size: 14px;
  color:#a50512;
  font-weight:bold;
  text-decoration:underline;
}

h6 {
  font-family: Palatino, serif;
  font-size:14px;
  font-weight:bold;
}

a:link {
  text-decoration:none;
  font-weight:bold;
  color:#a50512;
}

a:visited {
  text-decoration:none;
  font-weight:bold;
  color:#a50512;
}

a:active {
  text-decoration:none;
  font-weight:bold;
  color:#a50512;
}

a:hover {
  text-decoration:underline;
  font-weight:bold;
  color:#000000;
}

i {
  font-size: 50px;
  color: #a50512;
}

/* ------ General Styles -------*/

.width90 {
  width: 90%;
  margin: 0 auto;
}

.width50 {
  width: 50%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* ------ Section Styles ------- */

#logo {
  display: block;
  margin: 20px auto 30px auto;
  width: 100%;
  max-width: 350px;
}

#slideshow {
  display: block;
  margin: 0 auto;
  width:100%;
  border:0;
  overflow:hidden;
}

#history {
  background-color: #e9e4e0;
  padding: 5px;
}

.contact {
  margin: 0 auto;
  width: 80%;
}

.contact img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

/* footer */

#footer {
  /* background-color: #adb5ba; */
  background-color: #e9e4e0;
  padding: 5px 0 20px 0;
  margin-top: 20px;

}

#henrikJpg {
  width: 40%;
}

.icons {
  margin: 20px auto;
}

a i {
  color: gray;
}

#instagramLink {
  padding-left: 15px;
}
