* {
  box-sizing: border-box;
}

p {
  font-size: 0.7em;
}

ul {
  list-style-type: none;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
}


#slideshow {
  display: block;
  margin: 0 auto;
  width:100%;
  border:0;
  overflow:hidden;
}

.width80 {
  width: 80%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.icons {
  width: 50px;
  margin: 0 auto;
}

i {
  font-size: 50px;
  color: #3b5998;
}

.contact {
  margin: 0 auto;
  width: 80%;
}

.contact img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#henrikJpg {
  width: 40%;
}
